#main {
    background-color: #D3D3D3;
    font-weight: normal;
}

#title, #img-caption {
    text-align: center;
    padding-bottom: 1.1em;
    padding-top: 1.1em;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#img-div {
    background-color: white;
    margin: auto;
}

#image, img {
    max-width: 100%;
    height: auto;
    display: block;
}

#caption {
    max-width: 90%;
    height: auto;
    justify-content: center;
}

#tribute-info, #link-text {
    align-self: center;
    max-width: 85%;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100em;
    padding-top: 2em;
    padding-bottom: 2em;
}

#tribute-heading {
    margin-right: auto;
    margin-left: auto;
    width: 120em;
    max-width: 55%;
}

li {
    line-height: 1.4em;
    padding: 5px 5px 5px 5px;
}

#qoute {
    font-style: italic;
}
